$cardWidth: 300px;
$contentWidth: $cardWidth * 0.8;

.Task {
	max-width: $cardWidth;
	padding: spacing("sm");
	border: 1px solid $color-dark;
	border-radius: 4px;
	word-break: normal;
	cursor: pointer;
	display: flex;

	&__content {
		width: $contentWidth;
		margin-left: spacing("sm");
	}
}
