$baseColor: $color-dark;

.Project {
	width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__top {
		@include setBorderRadius("top", "md");
		padding: spacing("md") spacing("sm");
		color: $color-secondary;
		background-color: $baseColor;
	}

	&__taskList {
		margin: 0;
		padding: 0 spacing("sm");
		border-left: 1px solid $baseColor;
		border-right: 1px solid $baseColor;
		list-style: none;

		&--empty {
			text-align: center;
		}
	}

	&__taskItem {
		margin: spacing("sm") 0;
	}

	&__bottom {
		@include setBorderRadius("bottom", "md");
		padding: 0 spacing("md");
		border-left: 1px solid $baseColor;
		border-right: 1px solid $baseColor;
		border-bottom: 1px solid $baseColor;
		color: $color-secondary;
	}

	&__bottomContent {
		padding: spacing("sm") 0;
		border-top: 1px solid $baseColor;
		display: flex;
		align-items: center;
	}
}
