
@mixin responsive($size: "view") {
	$transitSize: 500px;

	@if $size == "view" {
		width: 100%;
		height: 100vh;

		@media (max-width: $transitSize) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		@media (min-width: $transitSize) {
			display: flex;
			align-items: center;
		}
	}
}

$mobile-width: 700px;
