@function spacing($size: "md") {

	@if $size == "xxs" {
    @return 3px;
  }

  @if $size == "xs" {
    @return 5px;
  }

  @if $size == "sm" {
    @return 10px;
  }

  @if $size == "md" {
    @return 15px;
  }

  @if $size == "lg" {
    @return 20px;
  }

  @if $size == "xg" {
    @return 40px;
  }
}

@function borderSize($size: "md") {

	@if $size == "xs" {
    @return 1px;
  }

  @if $size == "sm" {
    @return 2px;
  }

  @if $size == "md" {
    @return 4px;
  }

  @if $size == "lg" {
    @return 8px;
  }
}

@mixin setBorderRadius($pos: "all", $size: "xs") {
  border-radius: borderSize($size);

  @if $pos == "top" {
    border-radius: borderSize($size) borderSize($size) 0 0;
  }

  @if $pos == "left" {
    border-radius: borderSize($size) 0 0 borderSize($size);
  }

  @if $pos == "right" {
    border-radius: 0 borderSize($size) borderSize($size) 0;
	}

	@if $pos == "bottom" {
    border-radius: 0 0 borderSize($size) borderSize($size);
  }
}
