// FONT FAMILY
$font-family-Roboto: 'Roboto', sans-serif;
$font-family-Lato: 'Lato', sans-serif;
$font-family-Poppins: 'Poppins', sans-serif;
$font-family-Teko: 'Teko', sans-serif;

@mixin fontText($size: "sm") {
  font-family: $font-family-Roboto;

  @if $size == "sm" {
		font-size: 12px;
		line-height: 12px;
  }

  @if $size == "md" {
		font-size: 15px;
		line-height: 15px;
  }

  @if $size == "lg" {
    font-size: 18px;
		line-height: 18px;
  }
}

@mixin fontTitle($size: "sm") {
  font-family: $font-family-Roboto;

  @if $size == "sm" {
    font-size: 24px;
  }

  @if $size == "md" {
    font-size: 32px;
  }

  @if $size == "lg" {
    font-size: 48px;
  }
}
