.ProjectList {
	width: 100%;
	padding: spacing("md");
	display: flex;
	justify-content: flex-start;

	&--empty {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		display: grid;
		grid-template-columns: auto auto auto auto;
		column-gap: 10px;
		row-gap: 10px;
	}

	&__loader {
		animation: spin 1s linear infinite;
	}

	@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
}
